.tablet .question_number {
    font-size: 64;
}

.tablet .panel_question {
    height: 40%;
}

.tablet .question_text {
    font-size: 28;
}

.tablet .panel_answer {
    height: 25%;
}

.tablet .answer_label {
    font-size: 38;
}

.tablet .answer_label_correct {
    margin-top: 95%;
}

.tablet .answer_label_incorrect {
    margin-top: 95%;
}

.tablet .next {
    margin-bottom: 5%;
}

.tablet .solution_girl {
    margin-top: 35%;
}

.tablet .question_explanation {
    font-size: 22;
    margin-top: 35%;
}

.tablet .explain {
    font-size: 26;
    margin-top: 31%;
}