<page loaded="pageLoaded">
  <GridLayout #gridLayout class="page page-content">

    <Image *ngIf="correction === 'true'" class="next" (tap)="nextCorrection()" src="res://next"></Image>
    <Label class="question_number text-right" [text]="questionIndicator" textWrap="true"></Label>
    <Image class="home_btn" (tap)="goHome()" src="res://home_btn"></Image>






    <AbsoluteLayout>
      <Image *ngIf="correction === 'true'" class="solution_girl" src="res://solution_girl"></Image>

      <Image #image class="panel_question" stretch="fill" src="res://board"></Image>
      <Label #questionLabel class="question_text" [text]="questionCurrent.q" textWrap="true"></Label>
      <Label *ngIf="correction === 'true'" class="question_explanation" [text]="questionCurrent.hint" textWrap="true"></Label>
      <Label *ngIf="correction === 'true'" text="Explanation" class="explain" textWrap="true"></Label>

    </AbsoluteLayout>



    <GridLayout columns="*,*,*,*" rows="*">
      <Image #answerImg0 (tap)="nextQuestion(0)" col="0" stretch="fill" row="0" class="panel_answer" src="res://answer0"></Image>
      <Label #answerLabel0 [text]="questionCurrent.choices[0]" class="answer_label" col="0" row="0" text="A" textWrap="true"></Label>

      <Image #answerImg1 (tap)="nextQuestion(1)" class="answer_img answer_img_1" col="1" stretch="fill" row="0" class="panel_answer"
        src="res://answer1"></Image>
      <Label #answerLabel1 [text]="questionCurrent.choices[1]" class="answer_label" col="1" row="0" text="A" textWrap="true"></Label>

      <Image #answerImg2 (tap)="nextQuestion(2)" class="answer_img_2" col="2" stretch="fill" row="0" class="panel_answer" src="res://answer2"></Image>
      <Label #answerLabel2 [text]="questionCurrent.choices[2]" class="answer_label" col="2" row="0" text="A" textWrap="true"></Label>

      <Image #answerImg3 (tap)="nextQuestion(3)" class="answer_img_3" col="3" stretch="fill" row="0" class="panel_answer" src="res://answer3"></Image>
      <Label #answerLabel3 [text]="questionCurrent.choices[3]" class="answer_label" col="3" row="0" text="A" textWrap="true"></Label>

    </GridLayout>




  </GridLayout>
</page>