<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->


<!-- Buttons -->

<FlexBoxLayout #gridLayout class="page page-content" justifyContent="center" alignItems="flex-end" #containerBtn class="mode_container">

    <Image #alphabet class="mode" (tap)="startGeo()" src="res://geography"></Image>
    <Image #number class="mode" (tap)="startGeneral()" src="res://general"></Image>
    <Image #symbol class="mode" (tap)="startScience()" src="res://science"></Image>

</FlexBoxLayout>