<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->


<!-- Buttons -->

<FlexBoxLayout #gridLayout class="page page-content" justifyContent="center" alignItems="flex-end" #containerBtn class="mode_container">

    <Image #general class="mode" (tap)="startGeneral()" src="res://general"></Image>
    <Image #capitals class="mode" (tap)="startCapitals()" src="res://capitals"></Image>
    <Image #earth class="mode" (tap)="startEarth()" src="res://earth"></Image>
    <Image #oceans class="mode" (tap)="startOceans()" src="res://oceans"></Image>
    

</FlexBoxLayout>